# Ignore files and folders named "private"
private*

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
themes/*
!themes/lift/
