{{/* Call-to-action section on all pages except Contact */}}
{{ if ne .Page.RelPermalink "/contact/" }}
	{{- partial "section/cta.html" ( dict
		"context" .
		"class_layout" "section--cta-full"
		"class_bg" "bg--image js-kbe"
	) -}}
{{ end }}

{{ $footer_bg_url := .Page.Params.footer_image | default .Site.Params.footer_image | absURL }}
<style type="text/css">
	.footer {
		background-image: url({{ $footer_bg_url }});
	}
	@media (min-width: 768px) {
		.footer {
			background-image: url({{ $footer_bg_url }});
		}
	}	
</style>

<footer class="footer" role="contentinfo">
	<div class="wrap">
		<div class="footer__area">

			{{/* Brand */}}
			{{- partial "brand.html" ( dict "context" . "type" "white" ) -}}

			{{/* Contact */}}
			{{- partial "contact.html" .Site.Data.company -}}

		</div>
		<div class="footer__area">

		</div>
		<div class="footer__area">

			{{/* Nav */}}
			{{- partial "nav.html" ( dict "context" . "menu_id" "footer" ) -}}

		</div>
	</div>
</footer>

<section class="colophon">
	<div class="wrap">
		<div class="colophon__area">

			{{/* Social */}}
			{{- partial "social.html" . -}}

		</div>
		<div class="colophon__area">
			<ul class="links">
				<li><a href="/terms">Terms & Conditions</a></li>
				<li><a href="/privacy">Privacy Policy</a></li>
			</ul>
			<p>© {{ now.Year }} {{ .Site.Data.company.name }}</p>
		</div>
	</div>
</section>
