{{ $menu_id := .menu_id }}

{{ $type := "" }}
{{ $isMain := false }}

{{ if eq $menu_id "main" }}
	{{ $isMain = true }}
	{{ $type = "nav" }}
{{ else if eq $menu_id "footer" }}
	{{ $type = "nav-footer" }}
{{ end }}

<nav class="{{ $type }}" role="navigation">

	{{ if $isMain }}
		<button class="nav__toggle js-nav__toggle" title="Menu" aria-controls="nav" aria-expanded="false"
			data-target="js-nav">

			{{/* Icon */}}
			{{- partial "icon.html" "menu" -}}

			<span class="icon__label">
				Menu
			</span>
		</button>
	{{ end }}

	<ul class="{{ $type }}__menu {{ if $isMain }}js-nav__menu{{ end }}">

		{{ range index site.Menus $menu_id }}
		<li class="{{ $type }}__item {{ if .Params.class }}{{ $type }}__item--{{ .Params.class }}{{ end }}">
			<a href="{{ absURL .URL }}">
				{{ .Name }}
			</a>

			{{ if .Children }}
				<ul class="{{ $type }}__sub">
					{{ range .Children }}
						<li class="{{ $type }}__item">
							<a href="{{ absURL .URL }}">
								{{ .Name }}
							</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}			

		</li>
		{{ end }}

	</ul>
</nav>
