{{ $menu_id := .menu_id }}

{{ $class := "" }}
{{ if eq $menu_id "main" }}
	{{ $class = "nav" }}
{{ else if eq $menu_id "footer" }}
	{{ $class = "nav-footer" }}
{{ end }}

<nav class="{{ $class }}" role="navigation">

	{{ if eq $menu_id "main" }}
		<button class="nav__toggle js-nav__toggle" title="Menu" aria-controls="nav" aria-expanded="false"
			data-target="js-nav">

			{{/* Icon */}}
			{{- partial "icon.html" "menu" -}}

			<span class="icon__label">
				Menu
			</span>
		</button>
	{{ end }}

	<ul class="{{ $class }}__menu {{ if eq $menu_id "main" }}js-nav__menu{{ end }}">

		{{ range index site.Menus $menu_id }}
		<li class="{{ $class }}__item">
			<a href="{{ .URL }}">
				{{ .Name }}
			</a>

			{{ if .Children }}
				<ul class="{{ $class }}__sub">
					{{ range .Children }}
						<li class="{{ $class }}__item">
							<a href="{{ .URL }}">
								{{ .Name }}
							</a>
						</li>
					{{ end }}
				</ul>
			{{ end }}			

		</li>
		{{ end }}

	</ul>
</nav>
