{{/* GSAP */}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

{{/* Scripts */}}
{{ $js := resources.Get "js/scripts.js" | js.Build }}
<script src="{{ $js.RelPermalink }}" type="module" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer></script>

{{/* Development */}}
{{ if .Site.IsServer }}
	{{ "<!-- Google Tag Manager is turned off in development -->" | safeHTML }}
{{/* Production */}}
{{ else }}
	{{/* Google Tag Manager */}}
	<script>(function(w, d, s, l, i) {
	w[l] = w[l] || [];
	w[l].push({
	'gtm.start': new Date().getTime(),
	'id': '{{ .Site.Params.gtm }}',
	});
	var f = d.getElementsByTagName(s)[0],
	j = d.createElement(s);
	j.async = true;
	j.src = 'https://www.googletagmanager.com/gtag/js?id=' + i;
	f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-XXXXXXXX');</script>

{{ end }}
