{{ $context := .context }}
{{ $data := .data }}
{{ $tag_filter := .tag_filter }}
{{ $class := .class }}
{{ $title := .title }}

{{ with index $context.Site.Data $data }}
<section class="section {{ $class }}">
	<div class="wrap">
		<header class="section__header">
			<h2 class="section__title">{{ with $title }}{{ . }}{{ else }}{{ .title }}{{ end }}</h2>
			{{ with .subtitle }}
				<p class="section__subtitle">{{ . }}</p>
			{{ end }}
		</header>
		<div class="section__content entries {{ .class.entries }}">
			{{ $id := .id }}
			{{ $class_entry := .class.entry }}
			{{ $class_figure := .class.figure }}
			{{ range .entries }}
				{{ if or (not $tag_filter) (in .tags $tag_filter) }}
					{{ $link := .link }}
					{{ $more_text := .more_text | default $context.Site.Params.more_text }}
					<article class="entry {{ $class_entry }}">
						<figure class="entry__image {{ $class_figure }}">
							{{ if $link }}
								<a href="{{ absURL .link }}">
							{{ end }}

							{{/* Image */}}
							{{- partial "image.html" ( dict "title" .title "path" .image ) -}}
							
							{{ if $link }}
								</a>
							{{ end }}
						</figure>
						<header class="entry__header">
							<h3 class="entry__title">
								{{ if $link }}
									<a href="{{ absURL .link }}">
								{{ end }}
								{{ .title }}
								{{ if $link }}
									</a>
								{{ end }}
							</h3>
							{{ if .meta }}
								<p class="entry__meta">{{ .meta }}</p>
							{{ end }}
						</header>
						<div class="entry__content">
							<p>
								{{/* Team entry contact info */}}
								{{ if eq $id "team" }}

									{{/* Contact */}}
									{{- partial "contact.html" . -}}

								{{ end }}
								{{ .text }} 
								{{ if $link }}
									<a href="{{ absURL .link }}" class="entry__link">{{ $more_text }}</a>
								{{ end }}
							</p>
						</div><!-- .entry__content -->
					</article>
				{{ end }}
			{{ end }}
		</div>
		{{ if .link }}
			<footer class="section__footer">
				<a class="button" href="{{ absURL .link.url }}">{{ .link.text }}</a>
			</footer>
		{{ end }}
	</div><!-- .wrap -->
</section>
{{ end }}
