{{ $context := .context }}
{{ $data := .data }}
{{ $class := .class }}

{{ with index $context.Site.Data $data }}
<section class="section section--testimonials bg--medium">
	<div class="wrap">
		<div class="js-rotate js-rotate--testimonials">
		{{ range . }}
			<div class="testimonial js-rotate__item">
				<h2 class="testimonial__quote">{{ .quote }}</h2>
				<h3 class="testimonial__name">{{ .name }}</h3>
			</div><!-- .testimonial -->
		{{ end }}
		</div><!-- .container -->
	</div><!-- .wrap -->
</section>
{{ end }}
