{{ define "main" }}
	<section class="section section--basic">
		<div class="wrap">
			<div class="section__content form__initial">
				{{ .Content }}
				<form class="form form--contact js-form" name="contact" method="POST" data-netlify="true">
					<input type="hidden" name="subject" data-remove-prefix
					value="New inquiry from website" />
					<div class="form__field">
						<label for="firstName">{{ .Params.first_name_label }}</label>
						<input type="text" id="firstName" name="firstName" placeholder="{{ .Params.first_name_placeholder }}" />
						<span class="form__error" id="firstNameError"></span>
					</div>
					<div class="form__field">
						<label for="lastName">{{ .Params.last_name_label }}</label>
						<input type="text" id="lastName" name="lastName" placeholder="{{ .Params.last_name_placeholder }}" />
						<span class="form__error" id="lastNameError"></span>
					</div>
					<div class="form__field">
						<label for="email">{{ .Params.email_label }}</label>
						<input type="email" id="email" name="email" placeholder="{{ .Params.email_placeholder }}" />
						<span class="form__error" id="emailError"></span>
					</div>
					<div class="form__field">
						<label for="phone">{{ .Params.phone_label }}</label>
						<input type="tel" id="phone" name="phone" placeholder="{{ .Params.phone_placeholder }}" />
						<span class="form__error" id="phoneError"></span>
					</div>			
					<div class="form__field form__field--message">
						<label for="message">{{ .Params.message_label }}</label>
						<textarea id="message" name="message" placeholder="{{ .Params.message_placeholder }}"></textarea>
						<span class="form__error" id="messageError"></span>
					</div>
					<input type="submit" value="Submit" />
				</form>
			</div>
			<div class="section__content form__confirmation">
				{{ .Params.confirmation | markdownify }}
			</div>			
		</div>
		<!-- .wrap -->
	</section>
{{ end }}
