{{ $class_page := "" }}
{{ with .Page.Params.class_page }}
	{{ $class_page = print "page--" . }}
{{ end }}

<!DOCTYPE html>
<html lang="en">

	{{/* Head */}}
	{{- partial "head.html" . -}}
	
	<body>
		<div class="page {{ $class_page }}">

			{{/* Header */}}
			{{- partial "header.html" . -}}

			{{/* Main */}}
			<main class="main">
				{{- block "main" . }}{{- end }}
			</main>

			{{/* Footer */}}
			{{- partial "footer.html" . -}}

			{{/* Scripts */}}
			{{- block "scripts" . }}{{- end }}

		</div>
	</body>
</html>
